* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #0073e6;
}

#title {
    background: white;
    padding: 20px;
    color: #1f3d7a;
    text-align: center;
    font-size: 45px;
    font-family: 'Lucida Grande', sans-serif;
}

img {
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}

.result {
    font-size: 30px;
    color: white;
}

#resultMessage {
    display: none;
    font-size: 27px;
    margin: 30px;
    text-align: center;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.score-board {
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    margin: 20px auto;
    color: white;
    font-size: 40px;
    padding: 15px;
    font-family: Helvetica, sans-serif;
    position: relative;
}

.badge{
    background: #e64d00;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Helvetica, sans-serif;
}

#user-label{
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.choices {
    margin-top: 50px 0px;
    text-align: center;
}

.choice {
    border: 5px solid white;
    border-radius: 50%;
    margin:0px 20px;
    display: inline-block;
    padding: 40px;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background: #f2f2f2;
}

.green-glow{
    border: 4px solid #47d147;
    box-shadow: 0px 0px 10px #33ff33;
}

.red-glow{
    border: 4px solid red;
    box-shadow: 0px 0px 10px #ff9999;
}

.grey-glow{
    border: 4px solid #1a1a1a;
    box-shadow: 0px 0px 10px  #4d4d4d;
}
#action-message {
    text-align: center;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    padding: 20px;
}
