* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #0073e6;
}

header {
    background: white;
    padding: 20px;
}

header {
    color: #25272E;
    text-align: center;
    font-family: 'Lucida Grande', sans-serif;
}

img {
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}

.score-board {
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    margin: 20px auto;
    color: white;
    font-size: 40px;
    padding: 15px;
    font-family: Helvetica, sans-serif;
    position: relative;
}

.badge{
    background: #e64d00;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Helvetica, sans-serif;
}

#user-label{
    position: absolute;
    top: 30px;
    left: -25px;

}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 30px;
    color: white;
}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.choices {
    margin-top: 50px 0px;
    text-align: center;
}

.choice {
    border: 4px solid white;
    border-radius: 50%;
    margin:0px 20px;
    display: inline-block;
    padding: 10px;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background: #24272E;
}

#action-message {
    text-align: center;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}